[2014-04-28 11:56] JanetJWT opened #1 "This is not working with latest Firefox (v.28)"

[2014-05-05 09:09] #1 closed, assigned to RamonSmit

[2014-07-22 21:26] clintre opened #3 "Demo will not work in Windows 8.1 and Firefox 30 or later"
Tried the demo both included in the package as well as another one at http://daltcore.net/nestable/nestable_demo.html. Neither let me do anything as far as dragging or dropping. It will let me collapse and expand, but not drag and drop.

It does not seem to want to let the mouse pick up the item to drag like it will in Chrome and IE.
I am on Windows 8.1 running Firefox 31.
Now I tested it on Windo

[2014-08-17 13:40] lhl opened #6 "Consolidating Pull Requests, Issues"
Hey, Ramon, so I was looking at Nestable and the various forks out there.  Seems like yours is the most recent/active.  It's also the only one that changed the README.md as something that you wanted to maintain (and has no outstanding pull requests).

Just wondering if this is something you're going to actively work on? If so, it might be worth:

* Going through the various pull requests from the

[2014-09-09 07:22] Ihabafia opened #8 "I was thinking of a new feature"
Hi there,

I was thinking of a new feature, which will make the nestable as levels, what I mean by that (not easy to explain)

lets say that we have 4 levels of lists as follows for example:

Sales Director
Sales Managers
Sales Supervisors
Salesmen
each one of these levels especially 3rd and 4th level, needs to be locked. What I mean is that salesman can be moved from a sales supervisor to another

[2014-09-12 05:01] #3 closed, assigned to nobody

[2014-10-02 15:34] Quurks opened #10 "Add default css as file"
It would be nice to have the css from the index.html as a seperate file, to allow it to be used by bower

[2014-10-03 11:10] Quurks opened #11 "Improve bower support"
You should put the index.html in the bower ignore tag, its not really needed, or at least use an empty ignore tag so bower stops complaining.

For versioning you could take a look at http://bower.io/docs/api/#version , it seems to create git tags automatically, and keeps the bower.json in sync.

[2014-10-03 11:13] ghost opened #12 "change event access what was changed?"
I havent found a way to get the dragged item in the change event, am I missing something or it is impossible?

[2014-10-05 10:09] #12 closed, assigned to nobody

[2014-12-16 16:14] rubenheymans opened #19 "Collapse items"
If i create a cookie with an array of id's to store the collapsed items, how can I collapse all items from the array when I'm the tree gets rendered?

[2015-01-06 17:23] adamjohnson opened #20 "Make call to jQuery in demo protocol relative"
Jquery is being called like:

[code]

and should be called like:

[code]

so that drag and drop works for people viewing the demo over HTTPS:

https://dbushell.github.io/Nestable/

If the demo gets served from the master branch, that line is:

https://github.com/RamonSmit/Nestable/blob/master/index.html#L449

[2015-01-06 17:27] adamjohnson commented on #20
Ah, just noticed the demo in your `README.md` is pointing to the unmaintained repo; however, the issue still persists in `index.html`.

Perhaps you could update the gh-pages branch and point the demo link in the `README.md` to your demo?

[2015-01-27 10:01] RamonSmit commented on #20
Will take a look into this, Thanks for noticing:)

[2015-02-13 22:49] tablatronix commented on #8
Shouldn't this be done with event hooks? Not sure it needs to be in core.

[2015-02-14 04:12] tablatronix opened #21 "not maintained"
Its hard do determine how beneficial this branch is, it has not been updated since october, nor is it an actual fork of nestable, which is odd. It is hard to determine its worth and it doesn't show up in nestables network.

It might be good to establish a roadmap , especially since the readme still even links to nestables demos

I am trying to determine which pull requests against dbushell have be

[2015-03-04 10:57] RamonSmit commented on #8
Valid awnser :+1:

[2015-03-10 15:19] tablatronix commented on #10
seems fixed

[2015-03-10 16:13] Quurks commented on #10
Yes, it is.

[2015-03-10 16:13] #10 closed

[2015-06-08 23:57] rodrigoporcionato commented on #21
This Branch not work! Not use that!

[2015-06-09 02:32] tablatronix commented on #21
I use it , it works. What problem you having?

[2015-07-16 04:14] howareyouo opened #24 "How can I insert a node into a nestable tree?"

[2015-08-27 06:29] #8 closed

[2015-08-27 06:30] #11 closed

[2015-08-27 06:39] #24 closed

[2015-08-27 06:43] #20 closed

[2015-10-30 08:55] dustfeather opened #25 "CDN Support"
It would be useful to provide CDN support for this plugin

[2015-10-30 08:57] #6 closed

[2015-10-30 08:57] #19 closed

[2015-10-30 08:57] #21 closed

[2015-10-30 08:58] RamonSmit commented on #25
Agree. I will look for new pull requests on the main repo, merge them as good as possible and then I will take a note for a CDN.

[2015-11-04 11:27] ivanbarlog opened #28 "Cannot drag item with mouse when touch input is enabled"
I encountered problem with Chrome touch events when I am trying to drag item on notebook with touch screen. It is possible to drag item by touching the screen but it is impossible to drag item with mouse.

[2015-11-17 14:56] webtrix opened #31 "'dd-nodrag' not working"
I've tried to set "dd-nodrag" to several items, but it just doens't work.

example:

[code]

I looked into the javascript code, and in the onStartEven method, i think I found a bug.
In the first "if-statement" there is this.

[code]

When I remove the "!" .. it works again.

[code]

[2015-11-17 14:58] RamonSmit commented on #31
Going to test it :smile:

[2015-11-17 23:45] maartentibau opened #32 "Demo page - Github URL"
Hi, when you go to the demo page the "download on github" link still refers to the old Github page being: https://github.com/dbushell/Nestable

[2015-11-18 05:42] RamonSmit commented on #32
I see. Totally my mistake! Will fix this asap.

[2015-11-18 15:05] emiliodeg opened #35 "Scroll document on drag"
When I try to drag an element dont scroll the page
How can I fix that?

[2015-11-29 10:25] marfurt opened #36 "New release and Bower"
Hi,

Since this project is under active development again, could you please distribute a new release?

The last version (1.2.3) dates back to 27 February and some new features (such as `asNestedSet` method) are not available. It would be useful to get a more recent release available via Bower.

[2015-11-29 10:34] RamonSmit commented on #36
@marfurt I will fix this tomorrow. 👍

[2015-11-29 10:35] marfurt commented on #36
Perfect, thanks!

[2015-11-29 10:36] RamonSmit commented on #36
@marfurt Thanks for the heads up tho :-) I even didn't think about it.

[2015-11-30 15:06] webtrix opened #37 "Horizontal sorting"
I know there are some other scripts out there that offer the possibility to sort blocks horizontally, [RubaXa/Sortable](https://github.com/RubaXa/Sortable/) is a popular one.

The big drawback is that this script doesn't have the "nested" ability.  So is it possible to create an option so that your script also would work horizontally? Without the nesting then of course.

Thanks!

[2015-12-01 19:44] shadowcodex opened #38 "Demo is not a demo"
You reference your demo page in the Readme but does not have a demo of the current abilities of Nestable.

[2015-12-01 21:09] RamonSmit commented on #38
@shadowcodex It's known. Will also look at this 👍

[2015-12-01 21:09] shadowcodex commented on #38
Thanks!

[2015-12-23 09:14] ixlipixli opened #39 "Levels"
Hi there,

my maximum menu depth is 3.
Is it possible that a main menu item (depth/level 1) has a menu item with depth/level 3 (without using a level 2 item)?
Right now I am only to make it work with a menu item with depth/level 2 inbetween.

I hope someone can help me with this!
Thank you (and sorry for my english)!

[2016-01-01 19:11] jsgspotifi opened #40 "Nestable became draggable?"
Am i the only one experiencing this. This just happened, idk.
It ruined my whole system. The nestable became draggable, i can now drag the panels in which of the objects in it dont functio anymore. What happened? I tried it on different units, still the same results i got. Is this because of the browser or what? I need help pls? T_T

[2016-01-01 19:19] jsgspotifi commented on #40
All items in a sortable column become draggable, even in this site http://dbushell.github.io/Nestable/ what happened

[2016-01-01 19:20] jsgspotifi commented on #40
I already i tried it on 3 different pcs, same result

[2016-01-01 19:38] RamonSmit commented on #40
Well, if the link above does the same as your "system" it must be something on your network that is creeping things up. I can't explain that for you. Did you update the nestable or what?

[2016-01-01 19:45] jsgspotifi commented on #40
No i didnt do anything T_T this is what happens  https://youtu.be/QmVmebhOmpg

[2016-01-01 19:48] RamonSmit commented on #40
Yes, I see. That is supposed to happen. That "big" list has a parent and children and the children of that list are dragged with the parent. You can disable the nesting. So you cannot drag an entire block.

[2016-01-01 19:56] jsgspotifi commented on #40
I didnt notice that one before
Well I dont know if i understand it right, but nesting is one the main function of the thing that im working on, i cant just disable it T_T

[2016-01-01 19:57] RamonSmit commented on #40
Well that gigantic block you are dragging, that are nested elements.

[2016-01-01 20:02] jsgspotifi commented on #40
Okay then, ill just have to observe and figure this out, hoping that there is really a problem with the network. Thank you so much =)) And im sorry, im kind of new to this.

[2016-01-01 20:05] RamonSmit commented on #40
@jsgspotifi Doesn't matter, keep trying to learn new stuff :-)

[2016-01-01 20:21] #40 closed

[2016-01-10 01:07] Franky238 opened #41 "Items sometimes hide"
Hello, when i m start dragging some li tag some another li are hidden... When i m start drag last li tag all li elements are hidden except my dragged.. It was happens to anyone? I do some mistake?
Btw HTML structure is copied and here is javascript code:
$('.dd').nestable();

Thanks.

[2016-01-10 14:21] Franky238 commented on #41
sorry my bad

[2016-01-10 14:21] #41 closed

[2016-01-19 17:27] clintmilner opened #42 "Unable to catch click events from contentClass"
I'm trying to attach data to items using data attributes. What I need is a way for the click event to bubble up so I can access the $(event.target).data( 'myattr' );

Right now the event target is always the outermost container.

Is there a way to do this?

[2016-01-21 11:38] #42 closed

[2016-01-25 10:12] webtrix commented on #32
2 months in.. stil not fixed..

[2016-01-25 10:13] webtrix commented on #31
Have you tested it yet?  Seems to be a very small issue to fix, afaik.

[2016-01-25 11:37] RamonSmit commented on #32
@webtrix Be my guest to fix stuff.

[2016-01-25 11:37] RamonSmit commented on #31
@webtrix I'm no js developer.

[2016-01-25 12:02] webtrix commented on #32
I cannot really change a link on the demo page you know...

[2016-01-25 16:41] RamonSmit commented on #32
@webtrix I always thought you could in the branch 'gh-pages'?

[2016-01-25 18:18] usb248 opened #43 "compatiblity browser"
Why the plugin doest'n work for IE 10 ... ? It's very bad

[2016-06-30 14:41] Danilqa opened #44 "Drag & Drop doesn't work in Chrome"
Unfortunately, Drag & Drop function doesn't work in Chrome, but touchscreen works good. ]

[2016-06-30 17:22] RamonSmit commented on #44
That's weird, It works on chrome in here. You have jQuery installed and loading the nestable after the jQuery package?

[2016-07-03 15:42] Danilqa commented on #44
So, I use example file which I have downloaded from your repository. Yes, I have jQuery and loading the nestable after jQuery package. Drag & Drop in Chrome works on multitiuch only :(

[2016-07-04 07:24] RamonSmit commented on #44
That's really weird. I might guess it's something locally blocking the execution.

Tested again on:
Mac/Windows/Linux, all worked in the latest Google Chrome build

[2016-07-06 10:22] Danilqa commented on #44
My friends said me, that in their Google Chrome it works, too. Problem only in my Chrome. Thank you for your replies and for your project:) It really usefull!

[2016-07-06 10:22] #44 closed

[2016-07-08 12:31] naczu opened #45 "Collapse not working for dd3-item"
Collapse not working properly for dd3-item

[2016-08-10 02:08] ChanHyuk-Im opened #46 "distance option"
Need option that 'Distance the mouse has to travel to start dragging'.

[2016-08-24 13:14] sigra commented on #31
After removing "!" sign my expanding buttons doesn't work.

I just move `noDrag` condition to separate condition. Here is my fix:

[code]

[2016-08-29 07:37] RamonSmit commented on #31
Would you mind to make a PR of this? Then I just can include it ^^

[2016-09-06 09:24] ignas-x commented on #31
Thank You @sigra for thisfix! I just modified this for my needs that only disabled items are un-draggable. But children (without dd-nodrag) still can be rearranged:

`            var onStartEvent = function(e) {
                var handle = $(e.target);
                if(handle.parent().hasClass(list.options.noDragClass)) {
                    return;
                }
                if(!handle.

[2016-09-20 22:17] SimonOrdo opened #48 "Restrict drag/drop to certain depths"
Is there a way to restrict an item to a certain depth in the tree?

For instance, let's say I'm displaying "folders" and "files".  I want to restrict files to only be re-ordered in their folders or be dropped into other folders.  Folder should only be sortable within their own level.

I've tried achieving this with the onDragStart even and adding dd-nochildren, but I can't seem to get it right.

[2016-09-21 09:07] RamonSmit commented on #48
https://github.com/RamonSmit/Nestable#configuration

maxDepth: in your config

[2016-09-21 15:04] SimonOrdo commented on #48
@RamonSmit But that applies to the entire structure doesn't?  I need to keep an item at a specific level, without increasing or decreasing the depth... and different sets of nodes will have different depths.

[2016-09-21 15:50] SimonOrdo commented on #48
This will do: https://github.com/dbushell/Nestable/pull/170/commits/d306ea766b40a9e7120a05e6c0604806ed7bf37f?diff=split

[2016-10-24 12:40] lcognat commented on #31
Thank you for your solutions.

@ignas-x could you consider creating a pull-request with your fix ?

[2016-10-29 18:33] ignas-x commented on #31
@lcognat sorry, I'm very new here... I created fork and edited .js file. Is this enough, or I have to make some other steps ?

[2016-12-17 09:14] HakamFostok opened #50 "Nestable not working on Chrome"
I copied the example which you provided in the code tab.
I exactly copy and past the following
1. html
2. javascript code
3. your library (js and css file)

simply 'nestable' is not working on chrome version 55.0.2883.87 m (currently latest version)
-note: the chrome console does NOT give me any errors, it is clean

but it's working on Firefox correctly (version 50.1.0)

Any help. Thanks in Advanc

[2016-12-17 14:59] HakamFostok commented on #44
this is exactly what happens to me "My friends said me, that in their Google Chrome it works, too. Problem only in my Chrome"

[2016-12-22 16:40] buglinjo commented on #31
@ignas-x  I have installed that fix but after that dd-nodrag does not work on child elements like input.
I have modified `onStartEvent` and now it works.

`var onStartEvent = function(e)
{
                var handle = $(e.target);
                if (!handle.hasClass(list.options.handleClass)) {
                    if (handle.closest('.' + list.options.noDragClass).length) {

[2016-12-22 18:47] webtrix commented on #31
I actually moved to an vanilla JS drag-and-drop script. This one didn't offer enough flexibility.

[2016-12-22 18:47] #31 closed

[2016-12-31 10:56] florianbouvot opened #51 "Add package.json"
Hi, I'm interesting by adding npm support via package.json. Is it possible ?

[2017-01-04 09:16] RamonSmit commented on #51
Be my guess, create a PR for it :-)

[2017-01-07 20:15] minedun6 opened #52 "Can't drag and drop on empty list."
I can't drag items between list if one of the two lists is empty from the start.
how can I go about solving this ?

[2017-01-07 21:05] minedun6 commented on #52
This is a pull request from the other package of nestable, it details how to support init on empty list:

https://github.com/dbushell/Nestable/pull/138

[2017-01-17 10:56] mrPowell89 opened #53 "Need new docs and Browser compat test"
Hi, I would like to use this plugin but it seems to be behaving really iconsistantly between browsers. I can't drag and drop items in Firefox and in Chrome it seems like placeholders and hover effects are broken?

I'm using the examples provided in the docs but I'm assuming these are still the quite out of date versions?

Would it be possible to get an update on the status of this plugin?

Chrome

[2017-01-26 19:54] amfriedman opened #54 "Config option to confine list items to stay within their own hierarchy level?"
Is there an option to ensure that once you start dragging any list item, nestable does not allow the item to be moved across the hierarchy but *only* among items on its own level?

[2017-02-02 16:29] AzrielOmega opened #55 "dd-nochildren not working as expected"
Drag a item above dd-nochildren list just not show the placeholder, but if you drop it, it will become a children anyway.

[2017-06-21 19:22] pjona commented on #51
`package.json` is already in repository.

[2017-06-21 19:22] #51 closed

[2017-06-21 19:26] pjona commented on #50
If you have still problem, can you provide the example on https://jsfiddle.net/ ?
Currently I don't see any problem with Nestable on Chrome (Tested on 59.0.3071.109).

[2017-06-21 19:26] #50 closed

[2017-06-21 19:38] #32 closed

[2017-06-21 19:49] #36 closed

[2017-06-22 19:11] pjona commented on #25
Let's see what happen: https://github.com/cdnjs/cdnjs/pull/11439

[2017-06-22 19:41] #38 closed

[2017-06-22 19:55] pjona commented on #53
I checked it on the newest Firefox version 54, and I don't see any problems with demo. Can you check once again: http://ramonsmit.github.io/Nestable2/ ?

[2017-06-22 19:57] pjona commented on #45
Can you provide more information? Check the newest demo: http://ramonsmit.github.io/Nestable2/

[2017-06-22 19:59] pjona commented on #54
There is no functionality like this, but we are open for PR.

[2017-06-22 20:08] pjona commented on #35
I don't think so you can fix it. If you want to scroll page after drag an element you can do this using you keyboard  ↑ and ↓ or moving dragged element to bottom of your browser.

[2017-06-22 20:08] #35 closed

[2017-06-23 06:09] RamonSmit commented on #25
Looks like the checks have passed (reviews)

[2017-06-24 20:51] RomanBurunkov opened #66 "Add first child via 'add' method doesn't add collapse/expand buttons"
I've tested add method and found out one issue when adding item with parent_id.
When adding first child to parent with id parent_id, add method doesn't add expand/colapse buttons and further we have no chance to add them from user side. Looks like we should use setParent method which already exist. But I'm not quite sure where to add it.

[2017-06-24 21:15] #66 closed

[2017-06-24 21:16] pjona commented on #66
Please open the issue if the problem still exist.
I will make new release after you confirm the solution.

[2017-06-25 15:35] RomanBurunkov commented on #55
Confirming the same behaviour.
So this option can't be used for forbiding to drop some element into another element in all cases, as it noticed at readme:

[2017-06-26 05:00] RomanBurunkov commented on #55
I'm trying to implement this feature in another way, by adding beforeDragStop callback which able to drag&drop if return false.

Looks like that in case of using dd-nochildren class, we have to add some additional conditions, but what if we need to cancel drop items in a root list from child? It sounds bit illogical to have no children if we already have them, IMHO.

[2017-06-26 06:13] RomanBurunkov commented on #55
Here is some conversation on it: https://github.com/dbushell/Nestable/pull/143

[2017-07-02 08:12] #25 closed

[2017-07-05 05:27] RomanBurunkov commented on #54
This can be done with beforeDragStop callback.

e.g.
You can add data-type to parent list items and to children.
And mach parent and child type at callback.

[2017-07-07 16:08] ijstanley opened #69 "Replace doesn't appear to work correctly"
Using the following code:
[code]
where `children` is similar to the following object:
[code]
It results in a new `li` being created inside the existing `li`, and the expand/collapse doesn't display. The following is copied from Chrome:
[code]
I'm using a custom `itemRenderer`:
[code]
I can't see that I'm doing anything wrong here. I've inspected the nestable source and I'd suggest the replace func

[2017-07-07 16:21] pjona commented on #69
Hi, I can try to help you but after weekend. Can you provide your example
on jsfiddle?

Włącz 7 lipca 2017 w 18:08:54, ijstanley (notifications@github.com) Napisał:

[2017-07-10 09:44] ijstanley commented on #69
Having another look this morning, it seems the data doesn't get replaced either, until you move the item manually. Updated fiddle: https://jsfiddle.net/ijstanley/oaomxk5c/2/

[2017-07-10 14:48] ijstanley commented on #69
It appears adding the line `this.setParent(html);` fixes the remaining issues, so the whole replace function now looks like:
[code]

[2017-07-10 19:36] RomanBurunkov commented on #69
Make sence for items with children.

@pjona, should we use setParent at build function?
Such approach can be more universal...

[2017-07-10 21:50] #69 closed

[2017-07-10 21:55] pjona commented on #69
@ijstanley @RomanBurunkov Thanks all for good suggestions, [this commit](https://github.com/RamonSmit/Nestable2/commit/c2def0103cc17f620096292b93aa5eac25d314d2) should fixed the issue. I tested also when new item has more children - https://jsfiddle.net/Lykebpo9/1/

[2017-07-14 12:56] japontel opened #71 "scroll not working"
I try to move an item in a div with scroll, but dont up and dont down scroll when the item is in top or bottom div.

[2017-07-14 14:27] pjona commented on #71
@japontel can you provide example on [jsfiddle.net](https://jsfiddle.net/)? If you have some problem with providing example - check last closed issue.

[2017-07-14 14:54] japontel commented on #71
https://jsfiddle.net/60uavx5b/2/
if you drag the fist item to place it at the last item, the scroll dont down automaticaly with the mouse cursor.

[2017-07-15 11:54] pjona commented on #71
@japontel check this commit: https://github.com/RamonSmit/Nestable2/commit/a122d48d7b6d0854567ecc82087a9d18859d471d and read documentation how to enable this feature. I updated also example: https://jsfiddle.net/60uavx5b/4/

[2017-07-15 13:05] pjona commented on #43
Right now IE 10 has 0.79% of market, so I don't think is really important to support this version.
Can someone test demo page on IE 11?

[2017-07-15 20:37] #71 closed

[2017-07-17 13:12] Maqsyo opened #72 "Links are not click-able in Label"
### Expected behavior
I tried to add a link for each element to edit or delete a specific element.

### Actual behavior
On clicking on the a-tags the e.preventDefault() seems to trigger, so that i can't get the on.click event :(

### Steps to reproduce the behavior
[code]

[2017-07-17 13:22] RomanBurunkov commented on #72
Not sure e.preventDefault() canceling click events.
I have same structure but with buttons stylized to links(Bootstrap btn btn-link ) and don't have any issues with click events.

Also, can you repeat the issue with jsfiddle?
So some one will be able to check it.

[2017-07-17 13:25] Maqsyo commented on #72
Thank you for your fast reply!
I could solve this..
i put my a tags INSIDE the dd-handle class and there a-tags aren't working ^^
Thank you anyway :D

So here's the fixed code.. For somebody else ;D

[code]

[2017-07-17 13:25] #72 closed

[2017-07-20 18:22] carman8910 opened #73 "Drag not working in chrome"
Im trying enabled Drag functionality,  but i cant, its possible it or not. Tank you

[2017-07-20 19:26] RomanBurunkov commented on #73
@carman8910 , can you clarify your situation with more details and also with jsfiddle example?
Issue description is realy vague.

[2017-07-20 20:15] carman8910 commented on #73
Im sorry.
I have a code using Nestables plugin by David Bushell, it´s works, does not have some functionality that this plugin. Then i try using this version. The problem is that in this version drag functionality does not work, specifically wih chrome, i tried in iexplorer and it works, but chrome fail. Thanks for your help

[2017-07-20 20:23] RomanBurunkov commented on #73
@carman8910 I can't confirm that. Drag works for me in all browsers including mobile.

I think you can have some issue with css or html which is not compatible, so add more details about your code or ksfiddle sample.

[2017-07-20 20:35] carman8910 commented on #73
https://jsfiddle.net/dekkard/uh5eL5sc/
I have probe this code. In IExplorer works fine, in Chrome fail. Chrome version : Versión 59.0.3071.115 (Build oficial) (64 bits)

I dont know what is the problem, but i have tried in the console. onStartEvent function never is fire in my chrome.

I appreciate your valuable help

Thanks

[2017-07-20 20:44] pjona commented on #73
@carman8910 what is your OS? On Mac with Chrome 59.0.3071.109 (Build oficial) (64 bits) it works.

[2017-07-20 20:46] RomanBurunkov commented on #73
I have got same 64 bit 59.0.3071.115. And it works, so I'm able to drag elements.

Does your hardware have touch screen?

[2017-07-20 20:50] carman8910 commented on #73
Yes has touch screeen. my OS is Windows10

[2017-07-20 20:52] RomanBurunkov commented on #73
@carman8910

So this is the issue.

I believe this the same as: https://github.com/RamonSmit/Nestable2/issues/28

[2017-07-20 20:55] carman8910 commented on #73
Yes, it's the sim problem, i have not tried touching the screen. Thanks so much

[2017-07-20 20:56] carman8910 commented on #73
How can I fix this problem? or this its not possible?

[2017-07-20 20:59] RomanBurunkov commented on #73
So, may be @pjona can help with that, I'm not very familiar with all that touch staff.

[2017-07-20 21:01] RomanBurunkov commented on #73
I think the root cause is that the plugin turns off mouse events if found a touch:

[code]

[2017-07-20 21:23] pjona commented on #73
@RomanBurunkov @carman8910 I'll look at that

[2017-07-20 21:25] carman8910 commented on #73
Ok the problem it's solve, but the functionality to TouchScreen its off.
I did initialize hasTouch on false.

[2017-07-20 21:38] pjona commented on #73
@carman8910 can you test this demo: https://jsfiddle.net/s5yt9mc4/2/

I tested it with mouse and on phone, but I don't have touch screen + mouse.

[2017-07-20 21:45] carman8910 commented on #73
I tested the demo, this works! great job!

[2017-07-20 22:03] #28 closed

[2017-07-20 22:04] #73 closed

[2017-07-20 22:35] #52 closed

[2017-07-21 22:43] pjona commented on #73
@carman8910 can you test also on Firefox?

[2017-07-27 14:02] RomanBurunkov opened #75 "Can't drag item to the end of the list right after item with children if use draggable handle"
Considering example from demo page: https://ramonsmit.github.io/Nestable2/

Example for 'Draggable Handles'(the last one).

### Expected behavior

Drag should work for any position in the list.

### Actual behavior
e.g.
I'm not able to drag item14 after item 15 if item 15 collapsed.

### Steps to reproduce the behavior

1. Go to https://ramonsmit.github.io/Nestable2/.
2. Drag item 14.
3. Try to dr

[2017-07-31 09:54] pjona commented on #75
You are right, but I have this some for all examples. The tip is to move item 14 first to item 15 as a children and then put it as a last item. Can you try?

![Alt Text](https://media.giphy.com/media/xT39CUv9lHWeN28j60/source.gif)

[2017-07-31 10:06] RomanBurunkov commented on #75
Sure, I've found this aproach too, but it looks like just a workaround.

[2017-07-31 10:09] RomanBurunkov commented on #75
And let's imagin that item14 has children and you have max level of children two.

[2017-07-31 16:36] RomanBurunkov commented on #75
I've meant this situation:
`{ maxDepth : 2 }`

![nest_spl](https://user-images.githubusercontent.com/3923714/28788019-5409510c-7627-11e7-91f6-36413c81921f.png)

And you are not able to drag 51_Pink....right after Barco-s... and there is no workaround which works ;)

[2017-08-02 18:12] carman8910 opened #76 "Callout remove fade out"
Exist a callout function to the remove fallout function

[2017-08-02 18:18] RomanBurunkov commented on #76
I didn't quite understand the meaning of this.
Sorry about that ;)

[2017-08-03 07:13] pjona commented on #76
@carman8910 can you give some more details?

[2017-08-03 07:23] RomanBurunkov commented on #76
Probablly the question is about existance of callback function for remove method woth 'fade' option.

[code]

[2017-08-08 15:57] Elemb opened #77 "scrolling while element moving"
hello,
when you drag an element with a scroll on a parent container with elements, scrolling effects only on down side, but not when you drag on top,it doesn't makes an effect.
that is.
thanks.

[2017-08-09 07:12] pjona commented on #77
I cannot reproduce, can you provide example on jsfiddle.com?
I tested here: https://jsfiddle.net/60uavx5b/4/

[2017-08-09 07:17] pjona commented on #76
@carman8910: can you extend your description, or confirm what @RomanBurunkov said?

[2017-08-10 18:25] carman8910 commented on #76
@RomanBurunkov  yes, that is my question. Its possible use this code in nestable?
$('#selectror').nestable('remove', id, 'fade', function(){
  //Do something when animation done.
});

[2017-08-10 20:17] RomanBurunkov commented on #76
@carman8910 ,

I have such functionality in my local version.
I'll try to add this on friday.

[2017-08-14 15:28] carman8910 opened #78 "Find element"
Hi, me again.
I am working in a funcionality, based in you plugin. So, my quietion is
It is possible to find an element based on its id, ie when clicking a link go to the element, even if it is inside another element collapsed.

[2017-08-31 22:38] jh-orange opened #81 "nestable.css is overly onerous"
How about reducing nestable.css to what's needed to actually function?  I mean really .dd { max-width: 600px; }?

Even the requirement to add the dd, dd-list, and dd-item (I can see dd-handle, but even that could have a default) is unnecessary: you can figure out who gets what class assigned upon the initial nestable call.

My initial code didn't use the included CSS (from the nestable 1 days).  I

[2017-09-07 07:51] pjona commented on #81
@jh-orange we are open for discussion if you have some proposition how to slim down our CSS, right now there are only needed stuff but maybe you see it differently.

[2017-09-07 16:54] jh-orange commented on #81
It's not just colors.  You've got fonts, sizes, line heights.  The worst is
what happens when you start dragging something, because everything the user
defines is lost.  You shouldn't be providing styles to anything; use the
classes just to identify elements (e.g., handles).  Look at jQuery sortable
as an example.

There is also no apparent reason to need to provide the dd, dd-item,
dd-list, dd-ha

[2017-09-07 16:56] RamonSmit commented on #81
Welk, sad to hear you didn't like it. We're going to take your input in our consideration. Thanks for the feedback.

[2017-09-07 22:07] jh-orange commented on #81
I like it well enough to use it; it works.  It's just that I'm forced to
make my lists conform to your (the generic 'your') concept of 'style,' and
for that reason I will continue to look for alternatives.

On Thu, Sep 7, 2017 at 9:56 AM, Ramon J. A. Smit <notifications@github.com>
wrote:

[2017-09-08 07:50] pjona commented on #81
defines is lost.

@jh-orange Can you provide your styles or example where it reset user styles?

Maybe we can find common parts and try to make base theme and all what not fit as base put it in another theme.

[2017-09-08 17:54] jh-orange commented on #81
I don't remember what I changed to prevent the items from disappearing when
dragged outside the list but it was related to a missing dd class up top.
More on that below.

Nestable runs, mostly, when one doesn't supply it's CSS file (acts like
sortable - no nesting [maybe not; turns out my list is now acting that way
with the full file]), which supports my argument that it is onerous.  Look
at the

[2017-09-11 07:48] GertjanRoke commented on #81
@jh-orange could you give a use case for why you would use div's instead of a ordered list?
Because I can't see the reason for using div's instead of ordered list, this package is mostly used for sorting menu items of some sorts.

[2017-09-11 22:00] jh-orange commented on #81
I'm not; it was just a statement and I said it was theoretically possible
but a bizarre concept.

On Mon, Sep 11, 2017 at 12:48 AM, Gertjan Roke <notifications@github.com>
wrote:

[2017-09-25 08:21] zhangyuyuan123 opened #82 "hi,I want to use Nestable in the angular project，How do I use it"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Fork [this template](https://jsfiddle.net/s5yt9mc4/3/) to reproduce issue.

[2017-10-06 13:27] s1lver opened #83 "How do I trigger a double click event on an element?"
[code]
This code does not work...

[2017-10-06 17:10] RomanKhomyshynets opened #84 "Bug: Insertion of duplicate items when trying to use 'add' with parent_id"
Hi! There is a bug in Add function. When we try to add new item with setting parent_id, where parent item is non-leaf element, a new item appends to the parent item and to each its descendant.
For example, there is a code from your Demo-page:
https://jsfiddle.net/RomanKhomyshynets/4vogfw6o/1/
When we bind for "Add new item" button such actions
`            if(action === 'add-item') {

[2017-10-06 18:03] RamonSmit commented on #83
Is it a dynamic created element?

[2017-10-06 22:30] RomanKhomyshynets commented on #84
The problem is in row 244 of current version of  jquery.nestable.js
The solution is to change its code from `tree = tree.find(listClassSelector);`
onto
`tree = tree.find(listClassSelector+':first');`

[2017-10-09 09:18] s1lver commented on #83
So, I already tried. But there is no effect

[2017-10-09 09:19] RamonSmit commented on #83
In that case I'm going to ask @pjona if he can take a little sneekpeek in here

[2017-10-09 09:27] s1lver commented on #83
If you use **unbind ()**, then the whole list breaks down

[code]

[2017-10-09 12:52] s1lver commented on #83
https://jsfiddle.net/4vogfw6o/2/

Dblclick on the 16 item

[2017-10-11 11:57] mastkiller opened #85 "Want Drag Copy of Item to another List not Moving"
### Expected behavior
HI!
Want Drag Item to another List and Item should remain in Previous List and also added to another list. (Clone  option)

### Actual behavior
There is an option (clone) for this purpose in Nestable-1 . but when we use it it duplicates the list even we click or drag back to same list.

### Steps to reproduce the behavior

Fork [this template](https://jsfiddle.net/s5yt9mc4/3/

[2017-10-13 13:02] s1lver commented on #83
Hi!
The problem is solved by setting the timeouts.

[2017-10-13 13:02] #83 closed

[2017-10-22 01:23] pjona commented on #76
We added this functionality with [PR #80](https://github.com/RamonSmit/Nestable2/pull/80).

[2017-10-22 01:23] #76 closed

[2017-10-22 01:50] #84 closed

[2017-10-22 01:51] pjona commented on #84
@RomanKhomyshynets Thanks, great job!

[2017-10-23 15:35] walter-exit opened #87 "Add: custom layout wrong"
### Expected behavior
When adding an item, it would be nice if the layout would consider custom build function (like example 3: buildItem();)

### Actual behavior
When adding an item, the default layout is used.

### Steps to reproduce the behavior

Fork [this template](https://jsfiddle.net/s5yt9mc4/3/) to reproduce issue.

[2017-10-24 16:09] ekomsctr commented on #75
I think i found the problem there... In the code of the dragMove function it seeks for the .dd-item under the pointer, might it be that your content completely cover that element? You can test it like i did for myself: try to add a padding to the .dd-item element and see if it still does it, it worked as a quickfix for me in the wait for an official fix.

[2017-10-25 12:33] s1lver opened #88 "Do not delete the selected item"
Hi!

Version: 1.6

I'm trying to delete the selected item, but it does not delete.
My code is from the example:

[code]

In this case, the ID of the element to be deleted is displayed in the console.

[2017-10-25 12:36] pjona commented on #88
@s1lver You are sure you using the latest version? You need version 1.6.0. If yes, then you need provide example on jsfiddle.net.

[2017-10-25 12:37] s1lver commented on #88
@pjona Yes, I'm using the latest version

[2017-10-25 12:41] pjona commented on #88
@s1lver I using `remove` method with this version and it works for me. Can you provide example on jsfiddle.net?

[2017-10-25 12:48] s1lver commented on #88
@pjona Oh sure.

http://jsfiddle.net/nLndahwe/

[2017-10-25 12:56] pjona commented on #88
So if you put in JS part:

[code]

or

[code]

then it works, so it's something with you code. Check console error in example you provided.

[2017-10-25 12:59] RomanBurunkov commented on #88
Hi there,

Agreed with @pjona that code from the example looks strange.

In my project remove methods works fine.

[2017-10-25 13:05] s1lver commented on #88
At me in the console deduces the identifier of deleted element

[2017-10-25 13:10] s1lver commented on #88
It seems there is a guess, but it is inaccurate. If the identifier is set static, then the deletion occurs.

Passing an identifier using the `item.attr('id') ` method does not lead to the desired result

[2017-10-25 13:11] RomanBurunkov commented on #88
But I see just errors.

First of all var named clicks is not defined and also I see u trying to use:

id = item.attr('id');

But you should use 'data-id' instead of 'id' attribute.

[2017-10-25 13:19] s1lver commented on #88
At me these attributes have identical values.

'data-id' = 'id'

[2017-10-25 13:27] s1lver commented on #88
[code]

[code]

[2017-10-25 13:28] RomanBurunkov commented on #88
Well...I've changed your code to:

`var clicks = 0;
var delay = 500;

$('.dd').nestable({ /* config options */ });

  $('body').on("mousedown", '.js-dblclick', function(e){
    clicks++;

    if (clicks === 1) {
      timer = setTimeout(function() {
        clicks = 0;
      }, delay);
    } else {
      clearTimeout(timer);
      var item = $(e.currentTarget),
          id = item.attr('id');
 //a

[2017-10-25 13:32] RomanBurunkov commented on #88
@s1lver ,

You can try this code to remove items, it should works for you ;)

[code]

[2017-10-25 13:50] s1lver commented on #88
@RomanBurunkov Yes, it works. Thank you!

[2017-10-25 13:59] #88 closed

[2017-10-26 12:29] morganpizzini opened #89 "Handle moving between nested list"
### Expected behavior
In the following template i want to move nested items by keeping depth level.
[code]

### Actual behavior
when i start dragging sub-item i can drop at item level.

### How i Solved
as this [link](https://github.com/dbushell/Nestable/pull/113/files?short_path=04c6e90) says
I added the part
[code]
and use `data-list-no` and `data-move-in` for define the "range of motion".
now m

[2017-10-26 12:52] RomanBurunkov commented on #89
Hi,

It looks like you have used some solution from original nestable.

In nestable 2 you can just use 'beforeDragStop'.
It is described in the ReadMe.

[2017-10-26 13:01] morganpizzini commented on #89
Understood, but i use the same model in various pages, and in all of them i have to rewrite 'beforeDragStop' callback, now why 3 rows in plug-in code I can handle it without care about it anymore.
mine was just a hint since it was very useful and I can handle the page behavior by html without worrying about the javascript. 😄

[2017-10-26 13:13] pjona commented on #89
@morganpizzini Can you make pull request with this changes?

[2017-10-26 17:00] RomanBurunkov commented on #75
@ekomsctr, thanks you found that.
I'm going to check whether it can help me to resolve this issue.

[2017-10-26 18:48] RomanBurunkov commented on #75
This hint also can fix the issue:

[code]

[2017-10-27 10:21] RomanBurunkov commented on #75
So, in this case, the reason probably is the variable 'before' is always 'true' and we can't place element after the .dd-item node.

May be it is possible to add some conditions to place placeEl to the bottom of the list if we out of the bottom border of the rootlist...

@pjona , What do you think about that?

[2017-11-16 11:13] unikumspace opened #93 "while moving between two lists only first nestable maxDepth is considered"
### Expected behavior

Situation: having 2 lists with different maxDepth values, trying to move items from first list to second.
[see template](https://jsfiddle.net/s5yt9mc4/5/)

It should be impossible to move "Second item" with its children from first list to "First item" of second, because second nestable depth will be more than defined in maxDepth property.

It should be possible to move "Seco

[2017-11-23 12:17] mhanci92 commented on #85
Any news on this enhancement?

[2017-11-25 15:05] mhanci92 opened #94 "What is fixedDepth?"
Hey guys,

I was just checking out the jquery.nestable.js and saw an attribute called "fixedDepth". The name kind of suggests what it could stand for, but it doesn't really seem to be doing what I though it was doing. The issue is that I could not find any explanation on its functionality and what it actually stands for. Could someone please elaborate on it? It would also be very nice if the Readm

[2017-12-13 15:22] FabrizioFubelli opened #96 "Json Build Problem"
### Expected behavior

In the README it's written that you can build a nestable, using a json.
After I filled up the nestable using a json, the default functions don't work.

For example, if I call
[code]
it should returns a serielized object containing the items.

### Actual behavior
[code]
returns an empty array

### Steps to reproduce the behavior
I used this format to build a nestable with jso

[2017-12-29 07:36] rwx666888 commented on #54
Can join such a control, control in the same level of mobile is sometimes useful, at present beforeDragStop + .dd-nochildren There is a problem at the root level, can not effectively handle,
https://github.com/dbushell/Nestable/pull/194/files

[2018-01-04 11:06] fyllepo opened #97 "Feature to disable mouse.offsetX / mouse.offsetY"
In other words... a snap to pointer feature on drag.

I believe this is a worthy feature, an example use-case would a full width nestable list, that when dragging an item its drag state has a max-width applied to it... a change in the original size of the element for example to make it more "friendly" to move around the screen.

Currently mouse.offset calculation prevents this.

[2018-01-18 12:41] NogerbekNurzhan opened #98 "Problems in infinity scrolling of tree"
First of all **THANK YOU** for this wonderful library! :)

I use _Nestable2_ to render the tree in my Django project. There are a lot of data in tree so I decided to use infinity scrolling by [Waypoints](http://imakewebthings.com/waypoints/shortcuts/infinite-scroll/) plugin. I have next problem.

Let me explain it by example. I have next tree structure in database:
[code]

Thats what happens in br

[2018-01-19 10:14] NogerbekNurzhan opened #99 "How to refresh (rebuild) tree in Nestable plugin?"
First of all THANK YOU for this wonderful library! :)

I use Nestable2 to create tree in my project. I need to refresh (rebuild) tree when it was updated by ajax. I used next code. It create tree correctly but I can't change (move) depth (level). How to fix this problem?

`$('.dd').nestable('init').nestable({maxDepth: 6}).nestable('collapseAll');`

[2018-01-20 14:01] pjona commented on #98
@NogerbekNurzhan can you try for test replace this line:

[code]

with this:

[code]

Can you compare in Google Developer Tool (Network tab), the difference between ajax call and when you call it by `?page=2`? It looks like ajax call has some problems, it returning elements in wrong order. In your case, I will also suggest using JSON format instant of building HTML structure, then you can use func

[2018-01-21 17:20] NogerbekNurzhan commented on #98
I tried your code but it didn't help me. I think problem with  Waypoints plugin. So I decided to use other library which work with Nestable2 correctly but with some problems. I close this topic. Thank you for advice about JSON by the way! :)

[2018-01-21 17:20] #98 closed

[2018-01-21 17:25] NogerbekNurzhan commented on #99
It seems to me that [init](https://github.com/RamonSmit/Nestable2/blob/624a3d8a8e0cf7e7e4c8bbfe8f3fc7f061544a17/jquery.nestable.js#L122) function don't have move horizontal opportunity.  Do you have any ideas how to fix this problem?

[2018-01-22 07:07] NogerbekNurzhan commented on #99
Well, finally I found the solution. Next code works for me:
[code]

[2018-01-22 07:07] #99 closed

[2018-02-07 16:36] osmanraifgunes opened #102 "Get parent of element"
I am trying to get parent element of dragged item inside onDragStart and callback events. Is it possible?

[2018-02-19 10:17] fyllepo commented on #102
You have access to the current element, so just traverse up...
[code]

[2018-02-26 13:05] Almer opened #103 "Drag & drop when using CSS zoom on body"
For some reasons I use an auto zoom function to fit al the page functions in one screen without scrolling. So on my laptop the screen has a zoom of 65% $('body').css('zoom', '65%')

When using the zoom style drag & drop is out of sync while moving your mouse.

Is there a trick to fix the movement of the objects?

[2018-03-26 12:55] hareluya86 opened #104 "Empty div doesn't go away after adding nodes"
### Expected behavior
Using `$('.dd').nestable('add', jsonObj)` on an empty initial container like
`<div id="selections_nested" class="col-md-6">
    <ol class="dd-list"></ol>
</div>`
there will be an empty div `<div class="dd-empty"/>` remaining regardless of how many nodes I've add. This empty div was initiated but should be removed.

I have added a line in 251 to check if the the tree contains

[2018-04-12 11:41] aderpio opened #105 "Removing or replacing"
Currently, from what I see, removing an element with children will delete the item together with all its children.

This behavior is counter intuitive in many real life scenarios where removing the parent would allow the children to "move one level up" to the removed element's level (that is becoming children of the removed element's parent or the root if that's the case) . For example:
[code]
aft

[2018-05-02 17:17] mrgingles commented on #105
I opened a [pull request](https://github.com/RamonSmit/Nestable2/pull/106) with the functionality you asked for

[2018-05-18 12:44] edirectorios opened #107 "Not issue... only ajax reload problem"
### Expected behavior
After an ajax call and fill the nestable div with new data and call the $("#nestable").nestable() render the nestable normally

### Actual behavior
It only renders the nestable 1 time. If you make a few ajax calls it does not render well

### Steps to reproduce the behavior
Just simply reload the nestable with data from an ajax call.

Fork [this template](https://jsfiddle.net

[2020-02-03 12:19] #102 closed

[2020-02-18 11:28] tiagocaus opened #110 "How do I limit the hierarchy to only (Father and Children)"
How do I limit the hierarchy to only (Father and Children)?

https://jsfiddle.net/rhm96nax/

[2020-02-18 16:31] pjona commented on #110
Did you check `maxDepth` and `depth`?

[2020-02-18 23:47] #78 closed

[2020-05-20 11:45] lagrosskev opened #112 "Class "nodrag" not working when created from json"
Hi,

The class "dd-nodrag" seems not be taken into account when I create a nestable from JSON string. But it works at least with the class "dd-nochildren".

### Expected behavior
The item should not be draggable.

### Actual behavior
The item is draggable

### Steps to reproduce the behavior

Fork [this template](https://jsfiddle.net/et1k4f5w/) to reproduce issue.

Thanks for your help

[2020-06-20 12:36] contactjavas commented on #94
Would it be better to be `maxDepth` instead of `fixedDepth`?

[2020-06-24 16:58] marhgil opened #113 "add method fails on empty nestable"
### Expected behavior

must be able to add item to an empty nestable

### Actual behavior

add item fails. it can only be added when there are already existing items on the nestable.

### Steps to reproduce the behavior

- create an empty nestable
- call add method to add item to that nestable

Fork [this template](https://jsfiddle.net/s5yt9mc4/3/) to reproduce issue.

[2020-10-19 21:28] aximuseng commented on #54
I know this a stale repo but figured I would ask. I have this functionality as suggested by @RomanBurunkov.  The issue that remains is that the placeholder doesn't get added.  It seems that gets blocked by the callback.  There is no user feedback where you are dropping items etc.  I am also thinking it's possible to make that placeholder CSS conditional i.e. red for places you can't drop etc. whic

[2020-10-19 22:24] aximuseng commented on #54
I had a rouge `dd-nochildren` in my DOM which caused this.  It seems that you can't dynamically change the `dd-placeholder` class from these callbacks as you move the selection around (desired).  Trying to figure out in the source code where I can perhaps add this functionality.

[2020-11-11 10:25] black-eyes opened #114 "how can i the last dragged element !!?"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Fork [this template](https://jsfiddle.net/s5yt9mc4/3/) to reproduce issue.

[2020-11-13 16:31] aximuseng opened #115 "Provide user feedback when trying to drop in a prohibited placeholder"
For some more background:

https://stackoverflow.com/questions/64436263/jquery-nestable2-adding-placeholder-css-feedback

I already have a `beforeDragStop` call that does the logic to allow / dis-allow the dropping of an element in the placeholder.  I want to now change the CSS of the placeholder also (to red etc) for user feedback.

I can't seem to find in the code where adding the placeholder to

[2021-01-25 14:42] FatalIdiot commented on #113
Had this same problem. Dug into the code and found out that to add an item as a child to an empty parent item, you have to aim at that parent item and then move the mouse horizontally. So if you drag the item ower the empty parent item and then drag it to the right, it will snap as child.

[2021-02-11 17:27] ranumehul opened #116 "How to reset to initial stat after changed"
Can this be  reset to original/initial stat, after change. ?

Lets say, what if we want to give an option to reset the items to the initial stat ?

[2021-12-02 19:20] dragonfly4 commented on #72
The "fix" of @Maqsyo doesn't work with json lists.

This one below from Rabia does resolve it. In case other people would be looking for the same.

`$('.dd a').on('mousedown', function (event) { event.preventDefault(); return false; });`

https://stackoverflow.com/questions/45279765/jquery-nestable-plugin-item-click-event-not-working-i-have-added-button-in-nest

[2021-12-16 10:29] WongYueKeung commented on #82
我写的:
[code]

[2022-02-02 05:02] bugfirstx opened #117 "How to prevent child node to dragged in another parent node"
![xZAfn (1)](https://user-images.githubusercontent.com/65604550/95294738-02d16900-08a0-11eb-8f5a-c63afc9c2dde.png)

Thank you

[2022-07-21 19:54] b-cil commented on #117
prevent child to go parent and parent to go child, my guess is that you have just to play with parent id to get what you want on top

beforeDragStop: function(l,e, p){
        // l is the main container
        // e is the element that was moved
        // p is the place where element was moved.
        m_element = $(e).data('type');
        t_element = $(p).hasClass('nestable');

        if(m_ele